<% const date = new Date() %>
<% const year = date.getFullYear() %>

<div class="link-container">
  <p><a class= "links" href="https://www.cmdme.dev">cmdme</a> <%= year %> | <a class=links href="https://www.termsfeed.com/live/e5b48c32-dea4-4bc0-9bea-583d3b16df1b">privacy policy</a> | <a class="links" href="https://www.termsfeed.com/live/c326457b-ac1f-4d9b-aa2e-651ea4671ced"></a>terms</p>
  <p><i class="fas fa-coffee fa-1x"></i> <a class="links" href="https://ko-fi.com/cmdme">support me!</a> | <a class="links" href="/changelog"> changelog</a> | <i class="fas fa-envelope"></i> <a class="links" href="mailto:developer@cmdme.dev">reach out!</a> </p>
</div>
</body>
</html>

