<% const date = new Date() %>
<% const year = date.getFullYear() %>

<div class="link-container">
  <p><a class= "links" href="https://www.cmdme.dev">cmdme</a> <%= year %></p>
  <p><i class="fas fa-coffee fa-1x"></i> <a class="links" href="https://ko-fi.com/cmdme">support me!</a> | <a class="links" href="/changelog"> changelog</a> | <i class="fas fa-envelope"></i> <a class="links" href="mailto:developer@cmdme.dev">reach out!</a> </p>
</div>
</body>
</html>

