<% const date = new Date() %>
<% const year = date.getFullYear() %>

<div class="link-container">
  <a href="#top"
  ><button type="button">
    <i class="fas fa-arrow-up fa-2x button-icon" style="color: #dddddd"></i></button
></a>
  <p><a class= "links" href="https://www.cmdme.dev">cmdme</a> <%= year %> | <a class=links href="https://www.termsfeed.com/live/e5b48c32-dea4-4bc0-9bea-583d3b16df1b">privacy policy</a> | <a class="links" href="https://www.termsfeed.com/live/c326457b-ac1f-4d9b-aa2e-651ea4671ced">terms</a></p>
  <p><i class="fas fa-coffee fa-1x"></i> <a class="links" href="https://ko-fi.com/cmdme">support me!</a> | <a class="links" href="/changelog"> changelog</a> | <i class="fas fa-envelope"></i> <a class="links" href="mailto:developer@cmdme.dev">reach out!</a> </p>
</div>
</body>
</html>

