<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reply to Me</title>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/8856597633.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Open+Sans&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="/your-path-to-fontawesome/css/fontawesome.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="title">
      <h1><a href="/">Reply to Me</a></h1>
      <h1 style="color: #a2b2ee">|</h1>
      <h1>
        <a href="https://github.com/citizen00147"
          ><i class="social fab fa-github-alt"></i
        ></a>
      </h1>
      <h1>
        <a href="https://www.instagram.com/cmdme.dev/"
          ><i class="social fab fa-instagram"></i
        ></a>
      </h1>
      <h1>
        <a href="https://twitter.com/citizen00147"
          ><i class="social fab fa-twitter"></i
        ></a>
      </h1>
    </header>
  </body>
</html>
