<%- include("partials/header") %>
<div class="content-box">
  <h2>Changelog</h2>
  <h3>0.3.1a</h3>
  <ul>
    <li>Added project description so you know what's up</li>
    <li>Removed repetitive code so it loads a little faster</li>
  </ul>
  <h3>0.3a</h3>
  <ul>
    <li>Added light/dark themes</li>
    <li>Removed extra white space from title banner</li>
  </ul>
  <h3>0.2.1a</h3>
  <ul>
    <li>Fixed some discrepancies between web browsers and devices</li>
  </ul>
  <h3>0.2a</h3>
  <ul>
    <li>App connected to a database</li>
    <li>Added a time/date stamp to comments</li>
    <li>Added a character counter</li>
    <li>Dark color scheme</li>
  </ul>
  <h3>0.1a</h3>
  <ul>
    <li>App.GET/POST request established</li>
    <li>Simple form created to submit texts</li>
  </ul>
</div>
<%- include('partials/footer') %>
